@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fae8ff;
}

html {
  height: 100%;
}
.container {
  background-color: #fff;
  padding: 24px 32px;
  width: 600px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container h1 {
  font-weight: 400;
  margin-bottom: 32px;
}
.clear-btn {
  background-color: #d946ef;
  padding: 6px 0;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.refresh-btn {
  background-color: lightgreen;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  color: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
